/* Khi đặt class cha là grid hoặc inline-grid thì tất cả các phần tử rời khỏi luồng thông thường 
và tuân theo quy tắc lưới của grid */
.box1,
.box4,
.box5 {
    background: aqua;
}

.box2,
.box3 {
    background: blue;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: grid;

    /* Chiều ngang (width) của box chiếm vừa nội dung của nó */
    /* display: inline-grid; */

    /* Giá trị mặc định của cột và hàng trong grid */
    /* grid-template-columns: auto; */
    /* grid-template-rows: auto; */

    /* Chia hàng và cột */
    /* Chiều rộng (width) của cột: cột 1 - cột 2 */
    /* grid-template-columns: 100px calc(100% - 100px); */
    /* Chiều cao (height) của dòng: dòng 1 - dòng 2 - dòng 3 */
    /* grid-template-rows: 50px 100px 50px; */

    /* Gap: chia khoảng hở giữa dòng và cột */
    /* Quy định gap dòng */
    /* grid-row-gap: 50px; */
    /* Quy định gap cột */
    /* grid-column-gap:15px ; */
    /* viết tắt: row-gap - columns-gap */
    /* gap: 50px 15px; */

    /* Repeat: được sử dụng khi có nhiều giá trị lặp lại */
    /* Công thức: repeat(số cột/dòng sử dụng chung, kích thước) */
    /* Ví dụ: grid-template-columns: 100px 50px 50px 50px; */
    /* Lúc này, có 3 cột (cột 2, cột 3, cột 4) có cùng kích thước là 50px, chúng ta sử dụng repeat để lặp lại những giá trị này */
    /* grid-template-columns: 100px repeat(3, 50px); */
    /* grid-template-rows: 50px repeat(4, 100px); */

    /* Chia dòng và cột theo trọng số */
    /* 
        - 1fr tức là 1 phần 
        - 2fr tức là 2 phần 
        - Mà 1fr + 2fr = 3fr (3 phần) và 1fr 2fr 4fr = 7fr (7 phần)
        - grid-template-columns: (cột 1 chiếm 1/3, cột 2 chiếm 2/3);
        - grid-template-rows: (cột 1 chiếm 1/7, cột 2 chiếm 2/7, cột 3 chiếm 4/7)
    */
    /* grid-template-columns: 1fr 2fr; */
    /* grid-template-rows: 1fr 2fr 4fr; */

    /* Giá trị auto */
    /* cột 2 sẽ chiếm hết 100% không gian còn lại*/
    /* grid-template-columns: 100px auto; */
    /* Lưu ý: không sử dụng giá trị auto với dòng */
    /* grid-template-rows: 50px auto; */

    /* Sử dụng giá trị min, max */
    /* Trong trường hợp chúng ta muốn giới hạn kích thước phàn tử mà không bị vỡ giao diện */
    /* Cột 1: Khi co trình duyệt lại kích thước nhỏ nhất là 150px, khi giãn ra kích thước cao nhất là 300px */
    /* Cột 2: Khi co trình duyệt lại kích thước nhỏ nhất là 200px, khi giãn ra kích thước sẽ chiếm hết 100% không gian còn lại */
    grid-template-columns: minmax(150px, 300px) minmax(200px, auto);
    /* 2 dòng đầu tiên khi co trình duyệt lại sẽ có kích thước nhỏ nhất là 50px, khi giãn ra sẽ có kích thước là 80px */
    grid-template-rows: repeat(2, minmax(50px, 80px));

    /* Chỉ định chiều cao dòng mặc định */
    grid-auto-rows: 50px;
}