* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* --------------- common ---------------- */
/* ------------- end common -------------- */

/* --------------- header ---------------- */
/* ------------- end header -------------- */

/* ---------------- hero ----------------- */
/* -------------- end hero --------------- */

/* -------------- services --------------- */
/* ------------ end services ------------- */

/* --------------- works ----------------- */
/* ------------- end works --------------- */

/* --------------- about ----------------- */
/* ------------- end about --------------- */

/* -------------- out team --------------- */
/* ------------ end out team ------------- */

/* ------------- cta mobile -------------- */
/* ----------- end cta mobile ------------ */

/* ---------------- blog ----------------- */
/* -------------- end blog --------------- */

/* ------------- appointment ------------- */
/* ----------- end appointment ----------- */

/* --------------- footer ---------------- */
/* ------------- end footer -------------- */
