/* 
    - flex-direction: row | row-reverse: xoay hướng trục main axis cross axis 0 đổi 
    - flex-direction: column | column-reverse main axis theo chiều dọc – cột (column) + cros axis bị đẩy sang theo chiều ngang */

.box {
    background-color: blue;
    border: 1px solid black;
}

.container {
    height: 200px;
    display: flex;
    background-color: cyan;
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    /* justify-content: flex-start; */
    /* align-items: stretch; */
    /* align-items: center; */
    /* flex-direction: column; */
    flex-direction: column-reverse;
    justify-content: flex-end;
    /* align-items: stretch; */
    align-items: flex-start;
}