.parent {
    font-size: 10px;
}

/* html {
    font-size: 100px;
} */

.child {
    font-size: 2rem;
    /* Kích thước gấp 2 lần font chữ root element (không kế thừa): 16px x 2 --> 32px */
    width: 2rem;
    height: 2rem;
    background-color: violet;
    border: 0.2rem solid red;
}